!!!
%html
  %head
    %title Jinqiu Deng
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = favicon_link_tag
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default{"role" => "navigation"}
      <!-- Brand and toggle get grouped for better mobile display -->
      .navbar-header
        %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/pages"}
          Jinqiu Deng

      <!-- Collect the nav links, forms, and other content for toggling -->
      .collapse.navbar-collapse.navbar-collapse
        %ul.nav.navbar-nav
          = active_link_fullpath('Preparing Interview', "/pages/1")
          = active_link_fullpath('Android Game', "/pages/2")
          = active_link_fullpath('Rails Website', "/pages/3")

    = yield(:main)
